h1 {
  font-weight: normal;
}

.container {
  padding: 20px;
  padding-top: 4rem;
  margin-bottom: 1rem;
}

.directory-dropdown {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 3px solid pink; */
}

.student-add-form {
  display: flex;
  flex-direction: column;
}
